.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: inherit;
    background-repeat: no-repeat;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
    margin-top: 1rem;
}

.bubbles {
    display: flex;
    justify-content: flex-end;
    background: var(--gray);
    max-width: 500px;
    height: auto;
    text-align: left;
    padding: 0.5rem;
    z-index: 2;
}

#one {
    border-radius: 20px 20px 2px 20px;
}

#two,
#three,
#four {
    border-radius: 20px 2px 2px 20px;
}

#five {
    border-radius: 20px 2px 20px 20px;
}

.loading {
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;
}
.loading > div {
    width: 10px;
    height: 10px;
    background: var(--gradient);
    border-radius: 50%;
    margin: 3px;
    animation: loading 0.6s infinite alternate;
}

@keyframes loading {
    to {
        opacity: 0.1;
        transform: translate(0, -10px);
        background: var(--purple);
    }
}

.loading > div:nth-child(2) {
    animation-delay: 0.2s;
}
.loading > div:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    max-width: 70px;
    height: auto;
    float: right;
    border-radius: 20px 20px 20px 20px;
}
.illustration {
    height: auto;
    width: auto;
    position: relative;
    left: -25rem;
    z-index: 1;
}
.illustration img {
    display: block;
    width: 200px;
}
@media only screen and (max-width: 1440px) {
    .illustration img {
        display: none;
    }
}
