.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    height: 100vh;
    width: 100%;
}

.box {
    width: 50%;
}

.form-boxes {
    border: 1px solid var(--blue);
    width: 800px;
}

.socials-container {
    margin-top: 4rem;
}

.button-to-top {
    right: 20px;
    bottom: 20px;
}

.stack {
    margin-top: 1rem;
}

@media only screen and (max-width: 1280px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .box {
        width: 90%;
    }
}
