.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--white);
    color: var(--dark);
    z-index: 99;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.875rem;
}
.navbar-left img {
    height: 3rem;
    width: 3rem;
    display: block;
}

.navbar-left-text {
    text-transform: uppercase;
    padding: 0.5rem;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.875rem 0 0;
}

.navbar-right-icon {
    font-size: 1.25rem;
    color: var(--purple);
    cursor: pointer;
}

.navbar-li {
    cursor: pointer;
    text-transform: uppercase;
}
