:root {
    --dark: #0c0c0c;
    --light: #f2f2f2;
    --white: #ffffff;
    --gradient: linear-gradient(135deg, #8bc6ec, #9599e2);
    --dark-brown: #934b2d;
    --brown: #be9981;
    --gray: #ececec;
}
html,
body {
    background: url('./bg.png');
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}
